<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/176870b2-6b5d-48ee-b8f1-6577993d04fc/v3/index.json" />
  </packageSources>
</configuration>